// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
  margin: 20px auto;
  padding: 20px;
  width: 200px;
  height: 200px;
  background: #eee;
}

.name {
 color: #FF0000;
}